.navbar {
    margin-bottom: 0;
    border-radius: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 2px solid #cccccc;
}
.row.content {height: 450px}

#contentBackground {			
    background-image: url("../images/vintage-concrete.png");
}
.sidenav{
    padding-top: 20px;
    height: 100%;
}
footer {
    clear:both;
    background-color:#666666;
    color:white;
    text-align: center;
    padding: 25px;
    border-top: 8px solid #4aaaa5;
    padding: 15px;
}
ul{
    margin-top: 50px;
    margin-right: 20%;
    margin-bottom:0px;
    padding:0px;
    float:right;
    width:250px;
    font-size: 15px;
    text-align: center;    
} 
h1{
    text-indent:35px;
    -webkit-text-fill-color: #4aaaa5;
}
h2{
    /* float:left; */
    width:360px;
    background: #4aaaa5;
    padding: 20px;
    -webkit-text-fill-color: #ebebeb;
    text-align: center;
}
img{ float:left; 
    padding: 5px;  
}
#content{   
margin: auto;
border: 0px;
background-color:#ffffff;
font-family: Arial, Helvetica, sans-serif;
padding: 10px;
}
p{ 
    color: #777777;
    clear:both;
}
.p2,.p3{
    text-indent:35px;
    position: absolute;
    right: 0px;
    width: 730px;
    border: 3px solid #ffffff;
    padding: 10px;
}
form{
    
    margin:15%;
}
@media screen and (max-width: 980px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height:auto;} 
  }